<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/style.scss">

</head>

<body>
    <div id="app">
        <header>
            <form class="lookfor" v-on:click.prevent="search">
                <input type="text" class="search" v-model="searchString">
                <button class="search-btn" type="submit">O</button>
            </form>

            <button class="btn-cart" type="button" v-on:click="showCart = !showCart">Корзина</button>
            <div class="cart-block" v-show="showCart">
                <p v-if="!(cart).lenght">Корзина пуста</p>
                <div class="cart-list" v-for="cartItem of cart" :key="cartItem.id_product" v-show="showCart">

                    <div class="product-bio">
                        <img :src="img" alt="img">
                        <div class="product-desc">
                            <p class="product-title">{{cartItem.product_name}}</p>
                            <p class="product-quantity">Количество: {{cartItem.quantity}}</p>
                            <p class="product-single-price">{{cartItem.price}} за ед.</p>
                        </div>
                    </div>
                    <div class="right-block">
                        <p class="product-price">{{ cartItem.quantity * cartItem.price }} ₽</p>
                        <button class="del-btn" v-on:click="deleteProduct(cartItem)">X</button>
                    </div>

                </div>
            </div>
        </header>
        <main>

            <div class="product-wrap">
                <div class="product-item" v-for="product of searchItems" :key="receivedProducts.id_product">
                    <img :src="img" alt="img">
                    <div class="prod">
                        <h3>{{product.product_name}}</h3>
                        <p>{{product.price}}₽</p>
                        <button class="buy-btn" v-on:click="addProduct(product)">Купить</button>
                    </div>
                </div>
            </div>

        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>