* 
{
  margin: 0;
  padding: 0;
}


html, body {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }


header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: lightskyblue;
    margin-bottom: 50px;
}

.cart-list {
    position: absolute;
    display: none;
    padding: 20px;
    border: 3px solid lightskyblue;
    padding: 5px;
    margin-left: -150px;
    margin-top: 10px;
    background-color: #fff;
}

.cart-item {
    width: 150px;
    display: flex;
    flex-direction: column;
    background-color: lightskyblue;
    margin-top: 5px;
    padding: 15px;
}

.right-block {
    display: flex;
    justify-content: space-between;
}

.del-btn {
    width: 20px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
}

.warp {
    position: relative;
}

.wrap:hover .cart-list{
    display: block;
}


.btn-cart {
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: #455b9d;
    color: #fff;
}

.products {
    display: flex;
    justify-content: space-around;
}

.product-item {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    background-color: lightskyblue;
}

.by-btn {
    padding: 7px;
    border: none;
    background-color: #455b9d;
    color: #fff;
    font-style: Lato;
}
